*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

body{
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
}
.main-header{
    display: flex;
}
 /*Menù Laterale*/
 .nav-bar{
    height: 650px;
    width: 70px;
    background-color: aqua;
   
 }
.menu-lat{
    height:90%;
    width: 100%;
    
    
}

.account{
    height:10%;
    width:100%;
    background-color: cornflowerblue;
}

/***************************************************************************/

.container{
    height: 650px;
    width:100%;

}

/*Barra Superiore Upgrade*/
.upgrade{
    height: 13%;
    width:100%;
    background-color: rgb(15, 29, 56);
    color:white;
    display:flex;
    justify-content: flex-end;
    padding:20px;
}

 .upgrade .bot-upgrade{
    border: 2px solid white;
    border-radius: 20px;
    padding: 7px 30px;
    margin: 5px 10px;
}




/*Barra Menù*/
.top-menu{
    height:12%;
    width:100%;
    background-color: royalblue;
}

/*Libreria*/

.libreria{
    height:75%;
    width:100%;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
}

.copertina{
    height: 30%;
    width: 15%;
    margin: 10px;
    background-color: tomato;
}


/*footer*/

footer{
    height:100px;
    width:100%;
    background-color: rgb(77, 75, 72);
    display: flex;
    justify-content: space-between;

}
.album{
    height:100%;
    width:10%;
    background-color: slategray;
}

.play{
    height: 100%;
    width:50%;
    background-color: slategray;
}


.audio{
    height: 100%;
    width:10%;
    background-color: slategray;
}