*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

body{
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
}
.main-header{
    display: flex;
}
 /*Menù Laterale*/
 .nav-bar{
    height: 650px;
    width: 100px;
    background-color: aqua;
   
 }
.menu-lat{
    height:90%;
    width: 100%;
    
    
}

.account{
    height:10%;
    width:100%;
    background-color: cornflowerblue;
}

/***************************************************************************/

.container{
    height: 650px;
    width:100%;

}

/*Barra Superiore Upgrade*/
.upgrade{
    height:10%;
    width:100%;
    background-color: rgb(15, 29, 56);
}
/*Barra Menù*/
.top-menu{
    height:15%;
    width:100%;
    background-color: royalblue;
}

/*Libreria*/

.libreria{
    height:75%;
    width:100%;
    background-color: yellow;
}
/*footer*/

footer{
    height:100px;
    width:100%;
    background-color: rgb(77, 75, 72);
}