@media screen and (min-width: 601px){

.nav-bar{
    width:250px;
}
/*menù laterale superiore*/
.icon-bar{
    list-style: none;
    height: 20px;
    width: 15%;
    margin: 9px 0px 22px 5px;
    
}
.logo-small{
    display: none;
}
.logo-big{
    display: inline-block;
    list-style: none;
    height: 35px;
    width: 375%;
    margin: -4px -6px 0px 0px;

}

.h5-nav{
    margin: 10px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.5);
    display: inline;
    position: absolute;
     
}
.h5-nav-s{
    margin: 6px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.5);
    display: inline;
    position: absolute;
    left: 50px;
}
.icon-add{
    color:#fafafacb
}


/*menù laterale centrale*/

.li-center{
    list-style: none;
    height: 20px;
    width: 45%;
    margin: 5px 10px 5px 15px;
    color: white;
    display: inline-block;
} 

.icon-add{
    color:#fafafacb
 }
/*menù laterale account*/
.icon-account{
    list-style: none;
    height: 20px;
    width: 11%;
    margin: 20px 0px 20px 8px;
    color:#fafafab7
}

.account-bot {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin: 8px 5px;
    padding: 5px 15px;
    list-style: none;
    background-color: grey;
    background-image: url(../img/profile.svg);
    background-size: 100%;
 }

 .h6-nav{
    display: inline-block;
 }
 .h4-nav{
     display:inline-block;
 }

 .top-list {
    list-style: none;
    display: inline-block;
    margin: 10px 4px;
}
.top-menu{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items:flex-end;
}

.top-list {
    list-style: none;
    display: inline-block;
    margin: 0px 0px 20px 0px;
}


.album-list .album {
    flex-basis: calc(100%/2 - 15px);
    margin-right: 15px;
    margin-bottom: 80px;
    height: 200px;
}



.hr-f{
    border: 2px solid #fafafaab;
    background-color: #fafafaab;
    margin: 0px 10px;
    border-radius: 5px;
}

}

/*********/


@media screen and (min-width:768px){
   
    .top-menu{
        display: flex; 
        justify-content: center;
        flex-wrap: wrap-reverse;
        align-items:flex-end;
    }


    .top-list {
        list-style: none;
        display: inline-block;
        margin: 0px 0px 20px 0px;
    }
        

    .album-list .album{
        flex-basis: calc(100%/4 - 15px);
        margin-right: 15px;
        margin-bottom: 60px;
        height: 200px;
    }



    .hr-f{
        border: 2px solid #fafafaab;
        background-color: #fafafaab;
        margin: 0px -40px;
        border-radius: 5px;
    }
}

/*********/
@media screen and (min-width:1200px){

    .top-menu{
        display: flex; 
        justify-content: center;
    }
    
    .album-list{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    .album-list .album{
    flex-basis: calc(100%/6 - 15px);
    margin-right: 15px;
    margin-bottom: 30px;
    height: 200px;
    }


    .hr-f{
        border: 2px solid #fafafaab;
        background-color: #fafafaab;
        margin: 0px -75px;
        border-radius: 5px;
    }
}