@media screen and (min-width: 601px){

.nav-bar{
    width:250px;
}
/*menù laterale superiore*/
.icon-bar{
    list-style: none;
    height: 20px;
    width: 15%;
    margin: 9px 0px 22px 5px;
    
}
.logo-small{
    display: none;
}
.logo-big{
    display: inline-block;
    list-style: none;
    height: 35px;
    width: 375%;
    margin: -4px -6px 0px 0px;

}

.h5-nav{
    margin: 10px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.5);
    display: inline;
    position: absolute;
     
}
.h5-nav-s{
    margin: 6px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.5);
    display: inline;
    position: absolute;
    left: 50px;
}
.icon-add{
    color:#fafafacb
}


/*menù laterale centrale*/

.li-center{
    list-style: none;
    height: 20px;
    width: 45%;
    margin: 5px 10px 5px 15px;
    color: white;
    display: inline-block;
} 

.icon-add{
    color:#fafafacb
 }


}

@media screen and (min-width:768px){
    
}



@media screen and (min-width:1200px){
    
}